/* General */

.navbar-nav .nav-link {
    color: var(--bs-dark);
}

.navbar-brand {
    color: var(--bs-dark);
}

.navbar-toggler {
    border: 1px solid var(--bs-dark) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.baseBackgroung {
    margin: 20px 0 0 0;
}

/* Detail Work */

.table {
    margin: 20px 0 0 0;
}