{% extends 'base.html' %}

{% block content %}

{% if page == 'login' %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h1>Se connecter</h1>
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur :</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" class="form-control" name="password">
        </div>
        <input type="submit" class="btn btn-primary" value="Se connecter">
        <p>Vous n'avez pas de compte ? <a href="{% url 'register' %}">Créer un compte</a></p>
    </form>
</div>
{% else %}
<div class="container">
    <form method="POST" class="registerForm">
        {% csrf_token %}
        <h1>S'inscrire</h1>
        {{ form.as_div }}
        <input type="submit" class="btn btn-primary" value="S'inscrire">
        <p>Vous avez déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
    </form>
</div>
{% endif %}

{% endblock content %}